.box {
    color: black;
    border: 1px solid black;
    height: 200px;
    width: 100%;

}
.box2 {
    display: none;
    color: black;
    border:1px solid black;
    height:200px;
    width: 50px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .box {
        background-color: blue;
        width: 40px
    }
    .mobile {
        display: none;
    }
    .box2{
        display: block;
        background-color: yellow;
    }
}

@media (min-width:768px) {
    .box {
        background-color: red;
    }
    .mobile {
        display: none;
    }
}
